{% extends 'Dashboard/admin/base.html' %}
{% load static %}


{% block header %}
{% endblock header %}

{% block extra_css %}

{% endblock extra_css %}

{% block extra_css_no_compress %}
{% endblock extra_css_no_compress %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light mb-0">
        <li class="breadcrumb-item"> حساب </li>
        <li class="breadcrumb-item active" aria-current="page">
            داشبورد
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            تنظیمات پروفایل
        </li>
    </ol>
</nav>
{% endblock %}


{% block content %}
<div class="col-lg-12">
    <div class="d-grid gap-3 gap-lg-5">
        <!-- Card -->
        <div class="card">
            <div class="card-header border-bottom">
                <h4 class="card-header-title">ویرایش تصویر</h4>
            </div>
            <div class="card-body">
                <form action="" class="mt-2">
                    <!-- Form -->
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label mt-4">عکس پروفایل :</label>

                        <div class="col-sm-9">
                            <!-- Media -->
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <label class="avatar avatar-xl avatar-circle" for="avatarUploader">
                                    <img id="avatarImg" class="avatar-img" src="{% static 'img/160x160/img9.jpg' %}"
                                        alt="Image Description">
                                </label>

                                <div class="d-grid d-sm-flex gap-2 me-4">
                                    <div class="form-attachment-btn btn btn-primary btn-sm">آپلود عکس
                                        <input type="file" class="js-file-attach form-attachment-btn-label"
                                            id="avatarUploader" data-hs-file-attach-options='{
                                      "textTarget": "#avatarImg",
                                      "mode": "image",
                                      "targetAttr": "src",
                                      "resetTarget": ".js-file-attach-reset-img",
                                      "resetImg": "{% static ' img/160x160/img1.jpg' %}", "allowTypes" :
                                            [".png", ".jpeg" , ".jpg" ] }'>
                                    </div>
                                    <!-- End Avatar -->

                                    <button type="button" class="js-file-attach-reset-img btn btn-white btn-sm">حذف
                                        کردن</button>
                                </div>
                            </div>
                            <!-- End Media -->
                        </div>
                    </div>
                    <!-- End Form -->
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header border-bottom">
                <h4 class="card-header-title">اطلاعات پایه</h4>
            </div>
            <!-- Body -->
            <div class="card-body mt-2">
              
    
                <form method="post" action="{% url 'dashboard:dash_admin:profile-edit' %}">
                    {% csrf_token %}
                    
                    <!-- Form -->
                    <div class="row mb-4 mt-3">
                        <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">نام و نام خانوادگی : </label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" name="first_name" id="id_first_name"
                                    placeholder="Clarice" aria-label="Clarice" value="{{ form.first_name.value }}">
                                <input type="text" class="form-control" name="last_name" id="id_last_name"
                                    placeholder="Boone" aria-label="Boone" value="{{ form.last_name.value }}">
                            </div>
                        </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                        <label for="emailLabel" class="col-sm-3 col-form-label form-label">ایمیل :</label>

                        <div class="col-sm-9">
                            <input type="email" class="form-control text-center" name="email" id="emailLabel"
                                placeholder="clarice@example.com" aria-label="clarice@example.com"
                                value="{{ request.user.email }}" disabled>
                        </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="js-add-field row mb-4" data-hs-add-field-options='{
                    "template": "#addPhoneFieldTemplate",
                    "container": "#addPhoneFieldContainer",
                    "defaultCreated": 0
                  }'>
                        <label for="phoneLabel" class="col-sm-3 col-form-label form-label">تلفن : </label>

                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="js-input-mask form-control" name="phone_number" value="{{ form.phone_number.value }}" id="id_phone_number"
                                    placeholder="0912xxxxxxx">

                            </div>
                        </div>
                    </div>
                    <!-- End Form -->


                    <!-- Form -->
                    <div class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">جنسیت :</label>

                        <div class="col-sm-9">
                            <div class="input-group input-group-md-down-break">
                                <!-- Radio Check -->
                                <label class="form-control" for="id_gender_male">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="gender"
                                            id="id_gender_male" value="1" {% if form.gender.value == 1 %} checked {% endif %}>
                                        <span class="form-check-label">مرد</span>
                                    </span>
                                </label>
                                <!-- End Radio Check -->

                                <!-- Radio Check -->
                                <label class="form-control" for="id_gender_female">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="gender"
                                            id="id_gender_female" value="2" {% if form.gender.value == 2 %} checked {% endif %}>
                                        <span class="form-check-label">زن</span>
                                    </span>
                                </label>
                                <!-- End Radio Check -->

                                <!-- Radio Check -->
                                <label class="form-control" for="id_gender_other">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="gender"
                                            id="id_gender_other" value="3" {% if form.gender.value == 3 %} checked {% endif %}>
                                        <span class="form-check-label">دیگر</span>
                                    </span>
                                </label>
                                <!-- End Radio Check -->
                            </div>
                        </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row align-items-center">
                        <label for="disableAdCheckbox" class="col-sm-3 col-form-label form-label">غیرفعال کردن تبلیغات
                            <span class="badge badge-primary text-uppercase ms-1">پرو</span></label>

                        <div class="col-sm-9">
                            <!-- Check -->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="disableAdCheckbox">
                                <label class="form-check-label" for="disableAdCheckbox">با حساب حرفه ای خود، می توانید
                                    تبلیغات
                                    را در سراسر سایت غیرفعال کنید.</label>
                            </div>
                            <!-- End Check -->
                        </div>
                    </div>
                    <!-- End Form -->
                    <div class="card-footer pt-0">
                        <div class="d-flex justify-content-end gap-3">
                            <a class="btn btn-danger" href="javascript:;">لغو</a>
                            <button class="btn btn-primary" type="submit">ذخیره تغییرات</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Body -->

            <!-- Footer -->
          
            <!-- End Footer -->
        </div>
        <!-- End Card -->

    </div>
</div>
<!-- End Col -->
</div>
<!-- End Row -->
</div>
<!-- End Content -->


{% endblock content %}



{% block extra_js %}
<!-- ========== END SECONDARY CONTENTS ========== -->

<!-- JS Implementing Plugins -->
<script src="{% static 'js/vendor.min.js' %}"></script>

<!-- JS Front -->
<script src="{% static 'js/theme.min.js' %}"></script>

<!-- JS Plugins Init. -->
<script>
    (function () {
        // INITIALIZATION OF HEADER
        // =======================================================
        new HSHeader('#header').init()


        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu('.js-mega-menu', {
            desktop: {
                position: 'left'
            }
        })


        // INITIALIZATION OF SHOW ANIMATIONS
        // =======================================================
        new HSShowAnimation('.js-animation-link')


        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init('.js-validate', {
            onSubmit: data => {
                data.event.preventDefault()
                alert('Submited')
            }
        })


        // INITIALIZATION OF BOOTSTRAP DROPDOWN
        // =======================================================
        HSBsDropdown.init()


        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo('.js-go-to')


        // INITIALIZATION OF FILE ATTACH
        // =======================================================
        new HSFileAttach('.js-file-attach')


        // INITIALIZATION OF ADD FIELD
        // =======================================================
        new HSAddField('.js-add-field', {
            addedField: el => {
                el.querySelectorAll('.js-select-dynamic').forEach(item => {
                    HSCore.components.HSTomSelect.init(item)
                })

                HSCore.components.HSMask.init('.js-input-mask-dynamic')
            }
        })


        // INITIALIZATION OF INPUT MASK
        // =======================================================
        HSCore.components.HSMask.init('.js-input-mask')


        // INITIALIZATION OF QUILLJS EDITOR
        // =======================================================
        HSCore.components.HSQuill.init('.js-quill')


        // INITIALIZATION OF SELECT
        // =======================================================
        HSCore.components.HSTomSelect.init('.js-select', {
            render: {
                'option': function (data, escape) {
                    return data.optionTemplate || `<div>${data.text}</div>>`
                },
                'item': function (data, escape) {
                    return data.optionTemplate || `<div>${data.text}</div>>`
                }
            }
        })
    })()
</script>

{% endblock extra_js %}

{% block extra_js_no_compress %}
{% endblock extra_js_no_compress %}